.p {
    color: white;
    text-align: left;
    margin: 70px;
    font-size: 25px;
}

.bghome {
    background-color: #383838;
}

.titulobemvindo {
    color: white;
    background-color:#009A35;
    width: 400px;
    text-align: left;
    margin: 70px;
    font-size: 40px;
}

.home1{
    display: flex;
}

.imagem {
    margin: 60px
}