.membros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #383838;
    padding: 100px;
}

.nome {
    padding: 5%;
}

.membro {
    color: white;
    margin: 20px;
}